@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "注册";
}
<div class="container page userinfo-form">
    <form action="/Authentication/Register" method="post" class="form-horizontal userinfo-form" data-toggle="validator">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="StudentID">学号</label>
            <div class="col-sm-10">
                <input class="form-control" name="StudentID" required pattern="^\d{8}$" data-error="学号应为 8 位数字" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="ClassID">班级号</label>
            <div class="col-sm-10">
                <input class="form-control" name="ClassID" required pattern="^\d{8}$" data-error="班级号应为 8 位数字" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="RealName">姓名</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="RealName" pattern="^[a-zA-Z][a-zA-Z0-9\-_]{4,16}$" required data-error="用户名应为 5 到 16 位字母、数字、下划线（_）、连接号（-）的组合，第一位只能为字母" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="StudentName">用户名</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="StudentName" pattern="^[a-zA-Z][a-zA-Z0-9\-_]{4,16}$" required data-error="用户名应为 5 到 16 位字母、数字、下划线（_）、连接号（-）的组合，第一位只能为字母" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Password">密码</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="Password" id="register-input-password" pattern="^.{6,}$" required data-error="密码至少 6 位" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Password">重复密码</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="Concerned" pattern="^.{6,}$" required data-match="#register-input-password" data-error="两次输入的密码不匹配" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Gender">性别</label>
            <div class="col-sm-10">
                <select class="form-control" name="Gender" pattern="^\d$" required data-error="请选择性别">
                    <option value="none" disabled selected>请选择</option>
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Grade">年级</label>
            <div class="col-sm-10">
                <select class="form-control" name="Grade" pattern="^\d$" required data-error="请选择年级">
                    <option value="none" disabled selected>请选择</option>
                    <option value="1">大一</option>
                    <option value="2">大二</option>
                    <option value="3">大三</option>
                    <option value="4">大四</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Phonenumber">手机号码</label>
            <div class="col-sm-10">
                <input class="form-control" type="tel" name="Phonenumber" pattern="^1\d{10}$" required data-error="请输入 11 位中国大陆手机号码" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Email">邮箱</label>
            <div class="col-sm-10">
                <input class="form-control" type="email" name="Email" required data-error="电子邮箱格式不正确" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-default btn-group" value="注册"/>
            </div>
        </div>
    </form>
</div>
