<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>哎呀.</h1>
        <h2>好像到了不该到的地方啊.</h2>
    </hgroup>
</body>
</html>
