
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <form action="/Manage/Add" method="post">
            比赛名称 : <input type="text" name="CompetitionName" /><br />
            详情 : <input type="text" name="Details" /><br />
            比赛开始时间 : <input type="text" name="StartTime" /><br />
            报名截止时间 : <input type="text" name="EndTime" /><br />
            <button>添加</button>
        </form>
    </div>
</body>
</html>
